page-sign-up {

    .toolbar-background{
        background-color: rgb(31, 143, 131);
        color: black;
        font-weight: bold;
    }

    .button{
        background: rgb(31, 143, 131);
    }

}
