page-product-enquiry {

    
    .toolbar-background{
        background-color: rgb(31, 143, 131);
        font-weight: bold;
    }

    .button{
        background: rgb(31, 143, 131);
    }
    #footer{
        background-color: transparent !important;
        }
}
